.article {
  max-width: 984px;
margin: auto;
max-width: 830px;


}
.article__title {
  padding-top: 92px;
  padding-bottom: 39.98px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
  color: #FFFFFF;

}
.article__cita {
  padding-bottom: 10px;
font-family: "Inter", Arial, sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 34px;
text-align: left;
color: #FFFFFF;
}
.article__autor {
font-family: "Inter", Arial, sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 34px;
text-align: right;
color: #FFFFFF;
}
.article__tex {
padding-top: 31.99px;
padding-bottom: 92px;
font-family: "Inter", Arial, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 26.08px;
text-align: left;
color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .article {
    margin: auto;
    width: 720px;
  }
  .article__title {
    padding-top: 64px;
    width: 707px;
    font-size: 45px;
    line-height: 35px;
  }
  .article__cita {
    width: 720px;
    font-size: 24px;
    line-height: 30px;
  }
  .article__tex {
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  .article {
    margin: auto;
    width: 288px;
  }
  .article__title {
    width: 288px;
    font-size: 32px;
  }
  .article__cita {
    width: 288px;
    font-size: 24px;
  }
  .article__tex {
    font-size: 16px;
  }
}