.place {
  padding-top: 92px;
  margin: auto;
  width: 90%;
}
.place__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  column-gap: 48px;
  row-gap: 40px;
  grid-template-areas:
  "place-title ."
  "place-title place-artist"
  "place-image place-paragraph";
}
.place__title {
grid-area: place-title;
max-width: 460px;
margin: 0;
font-family: Inter;
font-size: 72px;
font-weight: 900;
line-height: 76px;
color: #fff;
}
.place__image {
grid-area: place-image;
width: 100%;
box-shadow: 10px 10px 25px #000;
}
.place__image:hover {
  opacity: .5 ;
}
.place__artist-title {
grid-area: place-artist-title;
font-family: Inter;
font-size: 12px;
font-weight: 400;
letter-spacing: 0.12em;
text-align: left;
color: #AAAAAA;

}
.place__artist {
grid-area:  place-artist;
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 22px;
text-align: left;
color: #fff;
}
.place__paragraph {
margin: 0;
grid-area: place-paragraph;
}
.place__paragraph-tex {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 29.34px;
  text-align: left;
  color: #fff;
}
.place__button {
  margin-top: 48px;
  margin-bottom: 80px;
  width: 289px;
  height: 48px;
  border-radius: 4px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  color: #fff;
  background-image: linear-gradient(to right, #0278FE, #003A7B);
  box-shadow: 5px 5px 10px #000;
}
.place__button:hover {
  background-image: linear-gradient(to right, #0278FE, #003A7B);
  opacity: 25%;
}
@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    width: 340px;
  }
  .place__paragraph {
    font-size: 16px;
    line-height: 26.08px;
}
.place__content {
  margin: auto;
  column-gap: 28px;
  row-gap: 48px;
  grid-template-areas:
  "place-title ."
  "place-title place-artist"
  "place-image place-paragraph";
}
}

@media screen and (max-width: 320px) {
.place__title {
  font-size: 32px;
  line-height: 35px;
  width: 288px;
}
.place__content {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, auto);
  row-gap: 30px;
  grid-template-areas:
  "place-title"
  "place-artist"
  "place-image"
  "place-paragraph";
  }
  .place__image {
    width: 100%;
    margin: 0;
}
}